<header class="py-3 mb-3 border-bottom">
  <div
    class="container-fluid d-grid gap-3 align-items-center"
    style="grid-template-columns: 1fr 2fr"
  >
    <h3 class="text-secondary">Jones Arc.</h3>

    <div class="d-flex align-items-center justify-content-end">
      <form class="d-flex align-items-center w-50 me-3" role="search">
        <input
          type="search"
          class="form-control"
          placeholder="Search projects, clients, staff and more"
          aria-label="Search"
        />

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="#d2d2d2"
          class="bi bi-search ms-3"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
          />
        </svg>
      </form>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        fill="#ff6537"
        class="bi bi-plus-circle me-3"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
        />
        <path
          d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
        />
      </svg>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        fill="#d2d2d2"
        class="bi bi-clock me-3"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"
        />
        <path
          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"
        />
      </svg>

      <div class="flex-row me-3 dropdown">
        <a
          href="#"
          class="d-block link-dark text-decoration-none dropdown-toggle"
          aria-expanded="false"
        >
          <img
            src="https://github.com/mdo.png"
            alt="mdo"
            width="32"
            height="32"
            class="border"
          />
          <!-- <p>Roberto</p> -->
        </a>
      </div>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        fill="#d2d2d2"
        class="bi bi-question-circle me-3"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
        />
        <path
          d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"
        />
      </svg>
    </div>
  </div>
</header>

<div class="container-fluid pb-3">
  <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr">
    <div class="bg-light border rounded-3">
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
    <div class="bg-light border rounded-3">
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
  </div>
</div>
