.bg-gris {
  background-color: #f1f1f1;
}
.btn-naranja {
  background-color: #ff6537;
  color: white;
}

.btn-naranja-bold {
  background-color: #eb4716;
  color: white;
}

.color-text {
  color: #fc9779;
}

.tab-color {
  color: #ff6537;
  text-decoration: none;
  font-weight: bold;
  font-size: larger;
  padding: 15px;
  margin-left: 15px;
}
.tab-color:focus {
  color: #4c4743;
  background-color: white;
}

.active {
  color: #4c4743;
  background-color: white;
}

.font-bold {
  font-weight: bold;
}
